/* GENERAL SETTINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
DONT' TOUCH DOWN HEREEEEEE
/* header */
.header-section-container::after{
  display: table;
  clear: both;
  content: '';
}
.header-gray-container{
  width: 100vw;
  height: 10vh;
  background-color: lightgrey;
}
.header-section-container{
  /* border: 3px solid red; */
  width: 80%;
  height: 100%;
  margin:auto;
  position: relative;
}
DON'T TOUCH UP HEREEEEEE
  /* HEADER */
  .grey-wallpaper{
      width: 100vw;
      height: 30vh;
      background-color: slategray;
  }
  .header-eighty-prc{
      width: 80vw;
      height: 30vh;

      margin:auto;
  }
  .top-header{
      width: 80vw;
      height: 15vh;
  }
  .top-header::after{
      display: table;
      content: '';
      clear: both;
  }
  /* LIST-TOP-HEADER */
  .list-top-header{
      display: inline-block;
      width: 50%;
      height: 100%;
      background-color: white;
      float: left;
      line-height: 15vh;
  }
  .list-top-header ul li{
      list-style: none;
      padding-left: 30px;
      display: inline-block;
  }
  .list-top-header ul li:nth-child(2){
      border-left: 2px solid black;
      line-height: 20px;
      margin-left: 10px;
      font-weight: 400;
  }

  /* BUTTON-TOP-HEADER */
  .button-top-header{
      display: inline-block;
      width: 50%;
      height: 100%;
      background-color: white;
      float: left;
      line-height: 15vh;
      padding-left: 70px;
  }
  .button-top-header div{
      display: inline-block ;
  }
  .log-in-top-header{
      color: red;
      padding: 15px;
      border:1px solid red;
      margin: 0 25px 0 50px;
      border-radius: 5px;
  }
  .hub-spot-red-button{
      color: white;
      background-color: red;
      height: 20px;
      padding: 15px;
      border-radius: 5px;
  }







  /* header second part */

.header-gray-container .header-section-container .logo,
.header-gray-container .header-section-container .header-menu{
  float: left;
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
  line-height: 8vh;
  text-align: center;
}
#logo{
  padding-top: 10px;
  width: 100px;
  height: 40px;
  margin-right: 40px
}
.logo{
  padding-right: 70px;
}
/* SECTION 2 */
.section-2-container{
  width: 100vw;
  height: 80vh;
  background-color: orange;
  border: 3px solid black;
}
.section-2-box{
  width: 500px;
  height: 400px;
  border: 3px solid black;
  position: relative;
  top: 10px;
  left: 100px;
  padding: 10px;
}
.section-2-container .section-2-box h1{
  font-size: 50px;
}
.section-2.red-button{
color: white;
padding: 15px;
border-radius: 5px;
margin: 30px 5px;
background-color: red;
display: inline-block;
}
section 3
.container-100vw{
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
}
.container-80vw{
  width: 80vw;
  height: 100vh;
  background-color: grey;
  margin: auto;
}
.container-60vw{
  width: 60vw;
  height: 20vh;
  background-color: red;
  margin: auto;
  margin-bottom: 3vh;
}
.container-70vw{
  width: 70vw;
  height: 20vh;
  background-color: orange;
  margin: auto;
  margin-bottom: 3vh;
}
.container-column-section3{
  width: 70vw;
  height: 54vh;
  border: 3px solid green;
  margin:auto;
}
.container-column-section3::after{
  display: table;
  content: '';
  clear: both;
}
.column-section3{
  width: 20vw;
  height: 100%;
  background-color:purple;
  float:left;
}
.column-section3.margin{
  margin: 0 10vh;
}
